.jumbotron {
  /* padding: 2rem 1rem; */
  background-color: #f3f4f5;
}

.jumbotron img {
  margin-bottom: 9px;
  margin-top: 80px;
}

#about {
  margin-top: -3rem !important;
  background-color: #273036;
}

#portfolio {
  background-color: #f3f4f5;
}

#blog {
  background-color: #273036;
}

section {
  padding-top: 5rem;
}

#team {
  background-color: #f3f4f5;
}

#contact {
  background-color: #273036;
}

footer {
  background-color: #f3f4f5;
}
